.rodape_texto{
    padding: 1em;
}

.rodape{
    border-top: 1px solid var(--preto);
    background-color: var(--branco);
}

@media screen and (min-width: 1024px){
    .lista_rodape{
        display: flex;
    }

    
}